html {
  background: radial-gradient(#e66465, #9198e5);
}

.title {
  font-family: "DM Serif Text", serif;
  position: relative;
  bottom: 172px;
}

.app {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #222;
}

.gameboard {
  width: 336px;
  height: 336px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.square {
  width: 100px;
  height: 100px;
  border: solid 2px #333;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 2px;
  margin: 2px;
  scale: 1;
  transition: 0.25s;
}

.square:hover {
  scale: 1.05;
}

.square:active {
  scale: 0.95;
}

.message {
  position: relative;
  top: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.message-text {
  margin: 8px;
}

.circle {
  height: 100%;
  width: 100%;
}

.cross {
  width: 100%;
  height: 100%;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.losing {
  opacity: 0.25;
}

.piece {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button {
  border: solid 2px #222;
  border-radius: 50px;
  color: #222;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 6px 12px;
  background: none;
  cursor: pointer;
  scale: 1;
  transition: 0.25s;
}

.button:hover {
  scale: 1.1;
}

.button:active {
  scale: 0.9;
}

.button:disabled {
  opacity: 0.25;
  cursor: not-allowed;
}
